*.svn
m4/*
bin/*
build/*
configure
Makefile
Makefile.in
p-*
TODO
install-sh
ignores
liblacewing.la
config.h
*.ncb
*.user
*.suo
.deps
.libs
*.lo
*.pc
config.*
*.cache
depcomp
ltmain.sh
missing
stamp-h1
libtool
aclocal.m4
